.header {
  padding: 3 rem;
  text-align: center;
}
.icon {
  height: 42px;
}

.content {
  display: flex;
  justify-content: center !important;
}

form {
  flex: 0 0 80%;
  padding: 2rem 2rem 1rem 2rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  text-align: center;
}
